/* .brand.img{
    height: 5px !important;
    width: 100px !important;
} */

.itemImg{
    height: 220px;
    width: 100%;
}

.itemImg:hover{
    transform: scale(1.1);
    transition: transform 0.3s; 
    
  }

  @media (max-width: 575.98px) {
    .itemImg {
      height: auto;
      width: 100%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .itemImg {
      height: auto;
      width: 75%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .itemImg {
      height: auto;
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .itemImg {
      height: auto;
      width: 100%;
    }
  }
  
 